body {
    font-family: Arial, sans-serif;
    background-color:black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bgg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    border: 2px solid #e71359ef;
    box-shadow: 0 0 25px #e71359ef;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 0.5s ease;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0px 0px 10px cyan, 0px 0px 20px cyan, 0px 0px 40px cyan,
    0px 0px 80px cyan;
}



.form{
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #6c757d;
}

button {
    padding: 10px;
    background-color: #6c757d;
    color: rgb(43, 42, 44);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: white;
    box-shadow: 3px 3px 25px rgb(143, 64, 64),-3px -3px 25px rgb(163, 81, 81);
}

p {
    text-align: center;
}

a {
    color: #6c757d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
